{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-10 col-md-8">
            <h1 class="h3 mb-3 font-weight-normal text-center">S'inscrire</h1>
            {{ form_start(form, {'attr': {'id': 'form'}}) }}
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword) }}
                {{ form_row(form.profile)}}
                <button class="btn btn-instantmessage btn-block cb">S'inscrire</button>
            {{ form_end(form) }}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    <script>
        $('.custom-file-input').on('change', function(event) {
                    var inputFile = event.currentTarget;
                    $(inputFile).parent()
                        .find('.custom-file-label')
                        .html(inputFile.files[0].name);
                });

        function filePreview(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('.preview').remove();
                    $('button').addClass('mt-330')
                    $('<div class="col-8 offset-2"><img src="'+e.target.result+'"class="preview"/><div>').insertAfter('#user_profile_imageFile_file');
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#user_profile_imageFile_file").change(function () {
            filePreview(this);
        });
    </script>
{% endblock %}


    
