{% extends 'base.html.twig' %}

{% block title %}Question/Réponses{% endblock %}

{% block body %}
    {% if app.user %}
    <div class="row justify-content-center">
        <div class="question col-12 col-sm-11 col-md-10 col-lg-9">
            <div class="question-header">
                <a href="{{ path('app_user', { 'id': question.user.id }) }}">
                {% if question.user.profile.image.name is not null %}
                    <img src="{{ asset(vich_uploader_asset(question.user.profile, 'imageFile')) }}" height="40" width="40" alt="">
                {% elseif question.user.profile.fixturesImageName is not null %}
                    <img src="{{asset('images/fixtures/users/' ~ question.user.profile.fixturesImageName  )}}"  height="40" width="40" alt="">
                {% else %}
                    <img src="{{ asset('images/profil-picture-illustration.png') }}" height="40" width="40" alt="">
                {% endif %}
                </a>
                <p class="question-info"><a href="{{ path('app_user', { 'id': question.user.id }) }}">{{ question.user.username}}</a> | {{ question.created|date("d/m/Y H:i", "Europe/Paris") }}</p>
                <p class="question-category"><i class="fas fa-tag"></i> {{question.category}}</p>
            </div>
            <div class="question-body">
                <h3><a href="{{ path('app_question', { 'id': question.id }) }}">{{ question.question }}</a></h3>
                {% if question.image.name is not null %}
                    <img src="{{ asset(vich_uploader_asset(question, 'imageFile')) }}" class="question-photo" alt="">
                {% elseif question.fixturesImageName is not null %}
                    <img src="{{asset('images/fixtures/questions/' ~ question.fixturesImageName  )}}" class="question-photo" alt="">
                {% endif %}
            </div>
            <div class="question-footer">
                <p class="question-category-small"><i class="fas fa-tag"></i> {{question.category}}</p>
                <p class="question-vrl">
                    {{ question.views }}   <i class="fas fa-eye"></i>     |     {{ question.answers|length }}   <i class="fas fa-comments"></i>    |
                    <a href="{{ path('app_question_like', {'id': question.id })}}" class="js-question-like">
                        <span class="js-question-likes">{{ question.questionLikes | length }}</span>   
                        {% if question.isLikedByUser(app.user) %}
                            <i class="fas fa-thumbs-up"></i>
                        {% else %}
                            <i class="far fa-thumbs-up"></i>
                        {% endif %}
                    </a>
                </p>
            </div>
        </div>
        {% if question.answers %}
            {% for answer in question.answers %}
            <div class="col-11 col-sm-10 col-md-9 col-lg-8">
                <div class="answer">
                    <div class="answer-header">
                        <a href="{{ path('app_user', { 'id': answer.user.id }) }}">
                        {% if answer.user.profile.image.name is not null %}
                            <img src="{{ asset(vich_uploader_asset(answer.user.profile, 'imageFile')) }}" height="40" width="40" alt="">
                        {% elseif answer.user.profile.fixturesImageName is not null %}
                            <img src="{{asset('images/fixtures/users/' ~ answer.user.profile.fixturesImageName  )}}"  height="40" width="40" alt="">
                        {% else %}
                            <img src="{{ asset('images/profil-picture-illustration.png') }}" height="40" width="40" alt="">
                        {% endif %}
                        </a>
                        <p class="answer-info"><a href="{{ path('app_user', { 'id': answer.user.id }) }}">{{ answer.user.username}}</a> | {{ answer.created|date("d/m/Y H:i", "Europe/Paris") }}</p>
                    </div>
                    <div class="answer-body">
                        <p>{{ answer.body }}</p>
                    </div>
                    <div class="question-footer">
                        <p class="question-vrl">
                            <a href="{{ path('app_answer_like', {'id': answer.id })}}" class="js-answer-like">
                                <span class="js-answer-likes">{{ answer.answerLikes | length }}</span>   
                                {% if answer.isLikedByUser(app.user) %}
                                    <i class="fas fa-thumbs-up"></i>
                                {% else %}
                                    <i class="far fa-thumbs-up"></i>
                                {% endif %}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        {% if answerForm %}
            <div class="col-11 col-sm-10 col-md-9 col-lg-8">
                {{ form(answerForm) }}
            </div>
        {% endif %}
    </div>
    {% else %}
    <p class="alert-livequestion">Bienvenue sur LiveQuestion.fr ! Pour profiter de toutes les fonctionnalités, veuillez vous inscrire ou vous connecter</p>
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        
        function onClickBtnLike(event){
            event.preventDefault();

            const url = this.href;
            const likeCount = this.querySelector('span.js-question-likes')
            const icone = this.querySelector('i');

            axios.get(url).then(function(response){
                likeCount.textContent = response.data.likes;
                if(icone.classList.contains('fas')) {
                    icone.classList.replace('fas','far');
                } else {
                    icone.classList.replace('far','fas');
                }  
            });
        }

        document.querySelectorAll('a.js-question-like').forEach(function(link){
            link.addEventListener('click', onClickBtnLike)
        })

    </script>
    <script>
        
        function onClickBtnLike(event){
            event.preventDefault();

            const url = this.href;
            const likeCount = this.querySelector('span.js-answer-likes')
            const icone = this.querySelector('i');

            axios.get(url).then(function(response){
                likeCount.textContent = response.data.likes;
                if(icone.classList.contains('fas')) {
                    icone.classList.replace('fas','far');
                } else {
                    icone.classList.replace('far','fas');
                }  
            });
        }

        document.querySelectorAll('a.js-answer-like').forEach(function(link){
            link.addEventListener('click', onClickBtnLike)
        })

    </script>
{% endblock %}
