{% extends 'base.html.twig' %}

{% block title %}LiveQuestion{% endblock %}

{% block body %}
{% if app.user %}
    <div class="row">
        <div class="">
            {{form_start(searchForm)}}
                {{form_widget(searchForm)}}
            {{form_end(searchForm)}}
            {% for question in questions %}
                <div class="question">
                    
                    <div class="question-header">
                        <a href="{{ path('app_user', { 'id': question.user.id }) }}">
                        {% if question.user.profile.image.name is not null %}
                            <img src="{{ asset(vich_uploader_asset(question.user.profile, 'imageFile')) }}" height="40" width="40" alt="">
                        {% else %}
                            <img src="{{ asset('images/profil-picture-illustration.png') }}" height="40" width="40" alt="">
                        {% endif %}
                        </a>
                        <p class="question-info"><a href="{{ path('app_user', { 'id': question.user.id }) }}">{{ question.user.username}}</a> | {{ question.created|date("d/m/Y h:i") }}</p>
                    </div>
                    <div class="question-body">
                        <h3><a href="{{ path('app_question', { 'id': question.id }) }}">{{ question.question }}</a></h3>
                    </div>
                    <div class="question-footer">
                        <p>
                            {{ question.views }} | {{ question.answers|length }} | 
                            <a href="{{ path('app_question_like', {'id': question.id })}}" class="btn btn-link js-question-like">
                                <span class="js-question-likes">{{ question.questionLikes | length }}</span>
                                {% if question.isLikedByUser(app.user) %}
                                    <i class="fas fa-thumbs-up"></i>
                                {% else %}
                                    <i class="far fa-thumbs-up"></i>
                                {% endif %}
                            </a>
                        </p>
                    </div>
                </div>
                <!-- <div class="card mb-3">
                    <div class="card-body bg-light">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col-6 text-center">
                                        {{ question.answers|length }}
                                        <br>
                                        <small>Réponses</small>
                                    </div>
                                    <div class="col-6 text-center">
                                        {{ question.views }}
                                        <br>
                                        <small>Vues</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-9">
                                <h5 class="card-title"><a href="{{ path('app_question', { 'id': question.id }) }}">{{ question.question }}</a></h5>
                                <p class="card-text text-muted small">posée par <a href="{{ path('app_user', { 'id': question.user.id }) }}">{{ question.user.username }}</a> |  {{ question.created|date("d/m/Y h:i") }} | <a href="{{ path('app_question_like', {'id': question.id })}}" class="btn btn-link js-question-like">
                                    <span class="js-question-likes">{{ question.questionLikes | length }}</span>
                                    {% if question.isLikedByUser(app.user) %}
                                        <i class="fas fa-thumbs-up"></i>
                                    {% else %}
                                        <i class="far fa-thumbs-up"></i>
                                    {% endif %}
                                </a></p>
                            </div>
                        </div>
                    </div>
                </div> -->
            {% else %}
                <div class="text-center alert alert-livequestion">Pas de questions !</div>
            {% endfor %}
        </div>
    </div>
{% else %}
{% for message in app.flashes('success')%}
<div class="text-center alert alert-livequestion">
    {{message}}
</div>
{% endfor %}
<div class="card mb-3">
    <div class="card-body bg-light">
        <p>Bienvenue sur LiveQuestion.fr ! Pour profiter de toutes les fonctionnalités, veuillez vous inscrire ou vous connecter</p>
    </div>
</div>       
{% endif %}
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        
        function onClickBtnLike(event){
            event.preventDefault();

            const url = this.href;
            const likeCount = this.querySelector('span.js-question-likes')
            const icone = this.querySelector('i');

            axios.get(url).then(function(response){
                likeCount.textContent = response.data.likes;
                if(icone.classList.contains('fas')) {
                    icone.classList.replace('fas','far');
                } else {
                    icone.classList.replace('far','fas');
                }  
            });
        }

        document.querySelectorAll('a.js-question-like').forEach(function(link){
            link.addEventListener('click', onClickBtnLike)
        })

    </script>
{% endblock %}
