<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon"  href="{{ asset('images/icone.ico')}}">       
        <title>{% block title %}Bienvenue!{% endblock %}</title>
        {% block stylesheets %}
        <script src="https://kit.fontawesome.com/75f71bb8cc.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
        {% endblock %}
        {% block refresh %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark sticky-top instantmessage">
            <div class="container">
                <a class="navbar-brand" href="{{ path('main') }}"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarMenu">
                    <ul class="navbar-nav ml-auto">
                        {% if app.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_users') }}">Communauté</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_chat_main') }}">Chat</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="dropdown-toggle nav-link-dropdown " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {% if app.user.profile.image.name is not null %}
                                        <img src="{{ asset(vich_uploader_asset(app.user.profile, 'imageFile')) }}" height="40" width="40" alt="">
                                    {% elseif app.user.profile.fixturesImageName is not null %}
                                        <img src="{{asset('images/fixtures/users/' ~ app.user.profile.fixturesImageName  )}}"  height="40" width="40" alt="">
                                    {% else %}
                                        <img src="{{ asset('images/profil-picture-illustration.png') }}" height="40" width="40" alt="">
                                    {% endif %}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="nav-link" href="{{ path('app_user', { 'id': app.user.id }) }}">Mon profil</a>
                                    <a class="nav-link" href='{{ path('app_user_update', { 'id': app.user.id })}}'>Modifier mon profil</a>
                                    <a class="nav-link" href='{{ path('app_user_updatelogs', { 'id': app.user.id })}}'>Modifier mes informations de connexion</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container mt-4">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}{% endblock %}

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>
</html>
