{% extends 'base.html.twig' %}

{% block title %}Communauté{% endblock %}

{% block body %}
<div class="card mb-3">
    <div class="card-body bg-light">
        {{form_start(searchForm)}}
            {{form_widget(searchForm)}}
        {{form_end(searchForm)}}
    </div>
</div>
    {% for user in users %}
    
    <div class="card mb-3">
        <div class="card-body bg-light">
            <div class="row">
                <div class="col-1">
                    {% if user.profile.image.name is not null %}
                    <img src="{{ asset(vich_uploader_asset(user.profile, 'imageFile')) }}" height="50" width="50" alt="">
                    {% else %}
                    <img src="{{ asset('images/profil-picture-illustration.png') }}" height="50" width="50" alt="">
                    {% endif %}
                </div>
                <div class="col-5">
                    <h3>{{ user.username }}</h3>
                </div>
                <div class="col-3">
                    <p>{{ user.questions|length}} questions posées</p>
                </div>
                <div class="col-3">
                    <p>{{ user.answers|length}} réponses partagées</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}