{% extends 'base.html.twig' %}

{% block title %}Modification du profil {% endblock %}

{% block body %}
<div class="row">
    <div class="col-6 offset-3">

        <div class="card bg-light">
            <div class="card-body">
                <h1 class="h3 mb-3 font-weight-normal text-center">Modification du profil</h1>

                {{ form_start(form) }}
                    {{ form_row(form.username) }}
                    {{ form_row(form.gender) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.plainPassword) }}
                    <div class="row">
                        <a href="{{path('app_user', { 'id': user.id })}}" class="btn btn-light col-6" >Annuler</a>
                        <input type="submit" value="Appliquer les modification" class="btn livequestion btn-block col-6"></input>
                    </div>
                    
                {{ form_end(form) }}
                
            </div>
        </div>
    </div>
</div>

{% endblock %}